<html>
   <body>
      <form action="http://localhost:5000/search" method="GET">
         <p>Search:</p>
         <p><input type="text" name="zip" /></p>
         <p><input type="submit" value="Submit" /></p>
      </form>
      <form action="http://localhost:5000/update" method="POST">
          <p>Update Zip:</p>
         <p><input type="text" name="zip" /></p>
          <p>Update Population:</p>
         <p><input type="text" name="population" /></p>
         <p><input type="submit" value="Submit" /></p>
      </form>
   </body>
</html>
